<%- include header %>

  <%- include nav %>

    <link rel='stylesheet' href='/stylesheets/list.css' />

    <div class="container">
      <div class="left">
        <div>
          <span>热门</span>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
        </div>
        <div>
          <span>标签</span>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
        </div>
        <div>
          <span>分类</span>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
        </div>
        <div>
          <span>热门</span>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
          <p><a href="/blog.html">msg聊天室目前只支持中英文输入，不支持emoji表情。</a></p>
        </div>
      </div>
      <% if (lastBlogs.length > 0){ %>
        <div class="right">
          <% for(var index = 0, len = lastBlogs.length; index < len; index++){ %>
            <div>
              <p>
                <a href="/blog/<%= lastBlogs[index]._id %>.html"><%= lastBlogs[index].title %></a>
              </p>
              <p>
                <%= lastBlogs[index].summary %>
              </p>
              <span><%= lastBlogs[index].updatedAt %></span><span><%= lastBlogs[index].key.join(';') %></span>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>

    <%- include footer %>
