<%- include header %>

  <%- include nav %>

    <link rel='stylesheet' href='/stylesheets/post.css' />

    <div class="container">
        <p>
          <span>文章标题</span><span holdertext="文章标题"><%= blog.title %></span>
          <button class="post" type="button">更新</button>
        </p>
        <p>
          <span>文章摘要</span><span holdertext="文章摘要"><%= blog.summary %></span>
        </p>
        <p>
          <span>文章关键词</span><span holdertext="文章关键词"><%= blog.key.join(';') %></span>
        </p>
        <div class="blog" holdertext="文章内容"><%- blog.content %></div>
    </div>

    <script type="text/javascript" src="/javascripts/post.js"></script>

    <%- include footer %>
